.whoweare {
    max-width: 1188px;
    margin: auto;

    h1 {
        font-family: Raleway;
        font-size: 31px;
        line-height: 34px;
        color: #323232;
    }

    .green-text {
        color: $green;
    }

    .whoweareWrap {
        flex-direction: column;
        @include flex-center;
        position: relative;
        top: 6px;
        left: 4px;
    
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 110px;
            margin-bottom: calc(88.3px + 110px);

            h1 {
                margin-bottom: 14.3px;
            }

            .line {
                color: #323232;
                font-size: 16px;
                display: flex;
                align-items: center;

                i {
                    margin: 0 9.5px;
                    transform: rotate(-35deg);
                }

                &::before,
                &::after {
                    content: "";
                    display: inline-block;
                    width: 37px;
                    border-top: 1.1px solid #D3D3D3;
                }
            }
        }

        section {
            display: flex;
            position: relative;
            top: 5px;

            .laptopContainer {
                margin-right: 80.5px;

                img {
                    width: 100%;
                    max-width: 510px;
                }
            }
            .detailsContainer {

                .details {
                    max-width: 572.5px;
                    top: -3px;
                    left: 9px;
                    position: relative;                
    
                    p {
                        font-size: 14px;
                        color: #6A6A6A;
                        line-height: 27px;
                        font-family: Open Sans;
                    }
    
                    h1 {
                        margin-bottom: 24.3px;
                        letter-spacing: -0.5pt;
                    }
                }

                .features {
                    display: grid;
                    grid-template-columns: 275.5px 275.5px;
                    grid-row: auto auto;
                    grid-column-gap: 34px;
                    grid-row-gap: 53px;
                    position: relative;
                    left: 11px;
                    top: 43px;

                    .feature {
                        display: flex;

                        .icon {
                            @include flex-center;
                            background: #3b3b3b;
                            height: 63px;
                            min-width: 63px;
                            border-radius: 40px;


                            i {
                                color:white;
                                font-size: 24px;
                            }
                        }

                        .info {
                            position: relative;
                            display: inline-block;
                            
                            
                            left: 27px;

                            h3 {
                                display: inline-block;
                                font-family: Raleway;
                                font-size: 18px;
                                font-weight: bold;
                                line-height: 19px;
                                LETTER-SPACING: -0.2pt;
                                margin-bottom: 11px;
                            }

                            p {
                                display: inline;
                                font-family: Open Sans;
                                font-size: 13px;
                                color: #6a6a6a;
                                line-height: 22px;
                            }
                        }

                    }
                }

                .bullets { 
                    position: relative;
                    top: 33px;
                    left: 2px;

                    .bullet {
                        max-width: 550px;
                        font-family: Open Sans;
                        font-size: 13px;
                        line-height: 23px;
                        color: #525252;
                        display: flex;
                        margin-bottom: 19px;
                        
                        &::before {
                            content: "\f058";
                            display: inline;
                            font-family: FontAwesome;
                            /* line-height: 16px; */
                            width: 16px;
                            font-size: 16px;
                            color: #3AB6B2;
                            @include flex-center;                       
                        }
                        
                        span {
                            display: inline-block;   
                            position: relative;
                            left: 15px;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 138px;
                        height: 42px;
                        margin-top: 41px;
                        margin-left: -2px;
                        background: $green;
                        color:white;
                        font-family: Raleway;
                        font-size: 13px;
                        font-weight: bold;
                    }
                }

            }
        }
    }


}