.whoweare {

    h1 {
    }

    .green-text {
    }

    .whoweareWrap {
    
        header {

            h1 {
            }

            .line {

                i {
                }

                &::before,
                &::after {
                }
            }
        }

        .laptopWrap {
        
            .laptopContainer {
                height: 450px;

                img { 
                    transform: scale(0.55);
                }
            }

            .detailsContainer {

                .image {
                }
                
                .features {
                }

                .details {
                }

                .bullets { 
                    display: none;
                }

            }
        }
    }


}