.whoweare {

    h1 {
    }

    .green-text {
    }

    .whoweareWrap {
        left: -4px;
        letter-spacing: -1pt;
        margin: 0px 0px;
        margin-right: -5px;
    
        header {
            left: -4px;
            top: 29px;
            margin-bottom: calc(88.3px + 7px);


            h1 {
                font-size: 28.88px;
                line-height: 32.43px;
                position: relative;
                left: 5px;
                top: 2px;
                margin-bottom: 22.5px;
            }

            p {
                
            }

            .line {

                i {
                }

                &::before,
                &::after {
                }
            }
        }

        section {
            top: -43px;
            margin: 0 23.5px;
        
            .laptopContainer {
                display: none;
            }

            .detailsContainer {

                .image {
                    height: 206px;
                    background: black;
                    margin-bottom: 21.3px;

                }
                
                .bullets { 
                    top: 29px;
                    left: 2px;

                    .bullet { 
                        span {
                            display: inline-block;
                            position: relative;
                            left: 15px;
                            overflow: initial;
                            line-height: 23px;
                            font-size: 13px;
                            max-height: 46px;
                            overflow: hidden;
                            letter-spacing: 0pt;
                        }
                    }
                }


                .features {
                    display: none;
                }

                .details {
                    max-width: unset;
                    left: 0;    
                    
                    h1 {
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 24.5px;
                    }

                    p {
                        font-size: 13px;
                        letter-spacing: 0;
                        color: #6A6A6A;
                        line-height: 23px;
                        font-family: Open Sans;
                        overflow: hidden;
                        max-height: calc(23px * 3);
                    }
                }

              
            }
        }
    }


}