.whoweare {

    h1 {
    }

    .green-text {
    }

    .whoweareWrap {
    
        top: -37px;
        left: -3px;
        header {

            h1 {
                font-size: 28.88px;
                line-height: 32.43px;
            }

            .line {

                i {
                }

                &::before,
                &::after {
                }
            }
        }

        section {
            top: -33px;
            margin: 0 23.5px;
        
            .laptopContainer {
                display: none;
            }

            .detailsContainer {

                .image {
                    height: 421px;
                    background: black;    
                    margin-bottom: 29.3px;

                }
                
                .features {
                    display: none;
                }

                .details {
                    max-width: unset;
                    left: 0;    
                    
                    h1 {
                        font-size: 25px;
                        margin-bottom: 34.5px;
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: -0.35pt;
                        color: #6A6A6A;
                        line-height: 23px;
                        font-family: Open Sans;
                    }
                }

                .bullets { 
                    position: relative;
                    top: 33px;
                    left: 2px;

                    .bullet {
                        max-width: 550px;
                        font-family: Open Sans;
                        font-size: 13px;
                        line-height: 23px;
                        color: #525252;
                        display: flex;
                        margin-bottom: 19px;
                        
                        &::before {
                            content: "\f058";
                            display: inline;
                            font-family: FontAwesome;
                            /* line-height: 16px; */
                            width: 16px;
                            font-size: 16px;
                            color: #3AB6B2;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;                        
                        }
                        
                        span {
                            display: inline-block;   
                            position: relative;
                            left: 15px;
                        }
                    }

                    button {
                        margin-top: 41px;
                        margin-left: -2px;
                        height: 42px;
                        width: 138px;
                        background: $green;
                        color:white;
                        font-size: 13px;
                        font-family: Raleway;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                    }
                }

            }
        }
    }


}