.whoweare {

    h1 {
    }

    .green-text {
    }

    .whoweareWrap {
    
        top: -37px;
        left: -3px;
        header {

            h1 {
                font-size: 28.88px;
                line-height: 32.43px;
            }

            .line {

                i {
                }

                &::before,
                &::after {
                }
            }
        }

        .laptopWrap {
            top: -33px;
            margin: 0 23.5px;
        
            .laptopContainer {
                display: none;
            }

            .detailsContainer {

                .image {
                    height: 421px;
                    background: black;    
                    margin-bottom: 29.3px;

                }
                
                .features {
                    display: none;
                }

                .details {
                    max-width: unset;
                    left: 0;    
                    
                    h1 {
                        font-size: 25px;
                        margin-bottom: 34.5px;
                    }

                    p {
                        font-size: 14px;
                        letter-spacing: -0.35pt;
                        color: #6A6A6A;
                        line-height: 23px;
                        font-family: Open Sans;
                    }
                }

              
            }
        }
    }


}