.jumbotron {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 760px;
    background: #292929;

    .leftButton,
    .rightButton {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 27px;
        height: 37px;
        margin: 0 40px;
        transform: translateY(-50%);

        &::after {
            color:white;
            font-family: 'FontAwesome';
            font-size: 37px;
            line-height: 37px;
        }
    }

    .rightButton {
        right: 0;
    }

    .leftButton::after {
        content: '\f053';
    }

    .rightButton::after {
        content: '\f054';
    }

    .contentWrap {
        position: relative;
        height: 760px;

        img { 
            max-width: 100%;
            position: absolute;
            max-height: 760px;
            left: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .jumbotronWrap {
            @include flex-center;
            flex-direction: column;
            width: 714px;
            height: auto;
            margin: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -63%);   
    
            .textWrap {
                color: white;
                font-family: Raleway;
                left: 15px;
                text-align: center;
                position: relative;
    
                h2 {
                    font-size: 62px;
                    letter-spacing: -1px;
                    line-height: 58px;
                }
    
                h1 {
                    position: relative;
                    left: 0;
                    font-family: Montserrat;
                    font-size: 74px;
                    font-weight: bold;
                    letter-spacing: -2px;
                    line-height: 88.8px;
                    word-spacing: 0;
                }
    
                span {
                    display: flex;
                    position: relative;
                    top: 5px;
                    left: -11px;
                    width: 120%;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: -0.18pt;

                }
            }
        }

        .readMoreWrap {
            @include flex-center;
            position: relative;
            top: 46px;
            width: 144px;
            height: 44px;
            left: 16px;
            margin: auto;
            background: $green;

            .readMore {
                width: 138px;
                height: 38px;
                border: 1px solid white;
                color:white;
                font-family: Raleway;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}
