.jumbotron {
    height: 210px;

    .rightButton, 
    .leftButton {
        display: none;
    }

    .contentWrap {
        left: -12px;
        top: -18px;

        .jumbotronWrap {
            // top: 0px;
            margin: auto;
            // left: 0px;
            width: unset;

            .textWrap {
                left: -1px;
                h2 {
                    position: relative;
                    font-size: 25px;
                    letter-spacing: -0.5px;
                    line-height: 30px;
                    top: 4px;
                    left: 9px;
                }

                h1 {
                    font-size: 30px;
                    line-height: 36px;
                    word-spacing: 5px;
                    position: relative;
                    top: 2px;
                    left: 9px;
                    letter-spacing: -1.5pt;
                }
 
                span {
                    left: 11px;
                    top: 3px;
                    font-size: 9px;
                    line-height: 10.8px;
                    word-spacing: 0;
                    letter-spacing: -0.1px;
                    max-width: 270px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .readMoreWrap { 
            top: 18px;
            width: 64px;
            height: 19px;
            left: 11px;

            .readMore { 
                width: 60px;
                height: 15px;
                font-size: 7px;
                line-height: 13.77px;
            }
        }
    }
}
