.jumbotron {
    height: 592px;

    .rightButton, 
    .leftButton {
        display: none;
    }

    .contentWrap {

        .jumbotronWrap {
            top: -33px;
            left: -25px;

            .textWrap {
                h2 {
                    font-size: 58px;
                    letter-spacing: -0.5px;
                    left: 3px;
                    position: relative;
                }

                h1 {
                    font-size: 71px;    
                }

                span {
                    font-size: 19px;
                    top: 3px;
                    left: 2px;
                    word-spacing: 0;
                    letter-spacing: -0.25px;

                    width: auto;
                }
            }
        }

        .readMoreWrap { 
            top: 5px;
            left: -24px;
        }
    }

}