.navbar {
    width: 100%;
    height: 100px;
    background: black;

    .navbarWrap {
        display: flex;
        align-items: center;
        width: 1170px;
        height: 100%;
        margin: auto;
        justify-content: space-between;

        .logoWrap,
        .menuWrap {
            display: flex;
            align-items: center;
        }

        .logoWrap {
            // margin-right: 310px;
            // margin-left: 8px;
            height: 50px;

            span {
                align-self: flex-end;
                color: white;
                font-family: 'Raleway';
                font-size: 36px;
            }
        }

        .menuWrap {

            .menuButton {
                margin-right: 40px;
                color: white;
                font-family: 'Open Sans';
                font-size: 14px;
                text-decoration: none;
            }

            .menuButton:last-child {
                margin-right: 0;
            }
        }

        .burgerWrap {
            @include flex-center;
            width: 48px;
            height: 31px;
            background: $green;

            .burger {
                @include flex-center;
                width: 44px;
                height: 27px;
                border: 1px solid white;
            }

            .burger::after {
                content: '\f0c9';
                transform: scaleX(1.6);
                color: white;
                font-family: 'FontAwesome';
            }
        }
    }

}
