.navbar {
    height: 70px;

    .navbarWrap {
        justify-content: space-between;
        width: unset;
        padding: 0 20px;

        .logoWrap {
            left: unset;
        }

        .menuWrap {
            display: none;
        }
    }
}
